<nav role="navigation" class="main-nav">
  <div class="main-nav__logo__wrap">
    <a href="/" class="main-nav__logo" title="Visit the Shaky Experience Homepage">
      <img class="main-nav__logo__img" src="logo.svg" alt="" />
    </a>
  </div>
  <div class="main-nav__links-wrap">
    <ul class="main-nav__links">
      {{ range .Site.Menus.main }}
      <li class="main-nav__links__item-wrap">
        <a class="main-nav__links__item" href="{{ .URL }}" title="Visit the Shaky Experience {{ .Name }}">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</nav>
