@import "../mixins/grid";
@import "../mixins/responsive";
@import "../mixins/typography";

$nav-height: 3.5rem;

.main-nav {
  position: relative;
  background: #fff;
  height: $nav-height;

  @include bp-up(lg) {
    height: 8.375rem;
  }

  &--mobile-opened {
    .main-nav__links-wrap {
      display: flex;
    }
    .main-nav__backdrop {
      display: block;
      @include bp-up(lg) {
        display: none;
      }
    }
  }

  &__container {
    height: 100%;
    @include bp-up(lg) {
      @include make-container();
      @include make-grid();
    }
  }

  &__logo__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 6/8;
    height: 100%;

    @include bp-up(lg) {
      grid-column: span 3;
    }
  }

  &__logo {
    display: flex;
    max-height: 80%;

    @include bp-up(lg) {
      max-height: 100%;
    }
  }

  &__links-wrap {
    display: none;
    align-items: flex-start;
    grid-column: 4/10;
    padding-top: 2rem;

    position: fixed;
    z-index: 1000;
    background: white;
    top: 0;
    right: 0;
    min-width: 45vw;
    height: 100vh;

    @include bp-up(lg) {
      display: flex;
      align-items: center;
      position: static;
      min-width: inherit;
      height: inherit;
      justify-content: center;
      padding-top: inherit;
    }
  }

  &__links {
    display: flex;
    list-style: none;
    margin: 0;
    flex-direction: column;

    @include bp-up(lg) {
      flex-direction: row;
    }
  }

  &__links__item {
    @include pop-font();
    display: block;
    padding: 1.5rem 1rem;
    color: $clr-txt-standard;
    font-size: 1.25rem;

    @include bp-up(lg) {
      font-size: 1.375rem;
    }

    &:hover {
      color: lighten($clr-txt-standard, 20);
    }
  }

  &__mobile-btn {
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    background: none;
    width: $nav-height;
    height: 100%;

    @include bp-up(lg) {
      display: none;
    }
  }
  &__backdrop {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(245, 72, 145, 0.9) 5.5%, rgba(239, 155, 155, 0.9) 35.38%, rgba(238, 182, 97, 0.9) 67.82%, rgba(255, 242, 124, 0.9) 89.84%);

    @include bp-up(lg) {
      display: none;
    }
  }
}
