@import '../variables';

@mixin make-container() {
    margin: 0 auto;
    padding: 0 2rem;

    //background: rgb(255, 166, 0);

    @each $bp, $width in $breakpoints {
        @media (min-width: #{$width}) {
            max-width: calc(#{map-get($max-widths, $bp)} - 4rem);
        }
    }
}

@mixin make-grid() {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 $grid-spacing;
    //grid-template-rows: auto auto 1fr 1fr 1fr auto auto;
    grid-auto-rows: minmax(10px, auto);
}

@mixin make-col($width: 1, $start: 0) {
    @if $start == -1 {
        grid-column: span #{$width};
    } @else {
        grid-column: #{$start} / #{$width};
    }
}
